<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light text-white"
  style="background-image: url(../../assets/pizzaHead.jpg); background-size: 100%; background-repeat: no-repeat;">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style="font-family: 'Lobster', cursive;">Pizzeria</h1>
    <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque nunc
      erat, id imperdiet dolor scelerisque non. Fusce tortor erat, sagittis eu congue eget, finibus aliquam massa.</p>
    <!-- <a class="btn btn-outline-secondary" href="#">Coming soon</a> -->
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">Ingredients >></h2>
      <p class="lead">Specially picked for you</p>
    </div>

    <img src="../../assets/ingredients.jpg" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">

  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque nunc erat, id imperdiet
        dolor scelerisque non. Fusce tortor erat, sagittis eu congue eget, finibus aliquam massa. Morbi pretium, velit
        vel egestas congue, orci lacus dapibus est, ut dignissim dui orci ac dolor. Donec finibus mattis elit, a
        bibendum nulla hendrerit id. Vestibulum rutrum nibh nisl, nec tempus neque viverra eget. Etiam vehicula sapien
        vel ante convallis suscipit. Integer at sollicitudin magna, sed eleifend felis. Proin sed ex vel lacus vulputate
        lobortis. Phasellus blandit eu turpis vel pellentesque.</p>
    </div>
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque nunc erat, id imperdiet
        dolor scelerisque non. Fusce tortor erat, sagittis eu congue eget, finibus aliquam massa. Morbi pretium, velit
        vel egestas congue, orci lacus dapibus est, ut dignissim dui orci ac dolor. Donec finibus mattis elit, a
        bibendum nulla hendrerit id. Vestibulum rutrum nibh nisl, nec tempus neque viverra eget. Etiam vehicula sapien
        vel ante convallis suscipit. Integer at sollicitudin magna, sed eleifend felis. Proin sed ex vel lacus vulputate
        lobortis. Phasellus blandit eu turpis vel pellentesque.</p>
    </div>
  </div>
  <div class="bg-warning mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2 class="display-5">
        << Chef</h2>
          <p class="lead">From Italy.</p>
    </div>
    <img src="../../assets/chef.jpg" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
  </div>
</div>

<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <h2 class="display-5">Delivery >></h2>
      <p class="lead">Always late.</p>
    </div>
    <img src="../../assets/delivery.png" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
  </div>
  <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 p-3">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque nunc erat, id imperdiet
        dolor scelerisque non. Fusce tortor erat, sagittis eu congue eget, finibus aliquam massa. Morbi pretium, velit
        vel egestas congue, orci lacus dapibus est, ut dignissim dui orci ac dolor. Donec finibus mattis elit, a
        bibendum nulla hendrerit id. Vestibulum rutrum nibh nisl, nec tempus neque viverra eget. Etiam vehicula sapien
        vel ante convallis suscipit. Integer at sollicitudin magna, sed eleifend felis. Proin sed ex vel lacus vulputate
        lobortis. Phasellus blandit eu turpis vel pellentesque.</p>
    </div>
  </div>
</div>
